# Introduction
- `NumPy` is the fundamental package for scientific computing in Python. 
- At the heart of Numpy is this wonderous concept of __VECTORIZATION__. In simple words, the library code is written in a way that your CPU has to do less work(cycles) by doing multiple operations at once.
- Concretely, the library makes use of __Single Instruction Multiple Data(SIMD)__ instructions which allows the CPU to perform same operation on multiple datapoints simultaneouly in a single cycle.
- At the core of `Numpy` package is the `ndarray` object. Think ndarray objects like those super-fast C-arrays but with an intuitive and simple interface.

>Fun Fact: `Numpy` is written in `C`.

# Creating Numpy Arrays

By the way, `ndarray` stands for __n-dimensional array__.
And an array is just a collection of elements.

In [ ]:
#importing numpy with alias np
import numpy as np

In [ ]:
#Creating numpy array from an iterable:list or tuple generally using np.array()
arr = np.array([1, 2, 4, 5]) # or np.array((1,2,3,4,5))
arr

array([1, 2, 4, 5])

In [ ]:
#curious to know what "type()" function does?
type(arr)

numpy.ndarray

In [ ]:
#create a numpy array in range:[start, end)
arr_1 = np.arange(1, 10)
arr_1

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
#create a numpy array of evenly spaced values in [start, end] 
arr_2 = np.linspace(1, 10, num=20 #number of samples
)
arr_2

array([ 1.        ,  1.47368421,  1.94736842,  2.42105263,  2.89473684,
        3.36842105,  3.84210526,  4.31578947,  4.78947368,  5.26315789,
        5.73684211,  6.21052632,  6.68421053,  7.15789474,  7.63157895,
        8.10526316,  8.57894737,  9.05263158,  9.52631579, 10.        ])

In [ ]:
#You can create the 2D arrays using np.array() constructor
arr2d = np.array([[1, 2, 3], #row1
                  [4, 5, 6] #row2
                  ])
arr2d

array([[1, 2, 3],
       [4, 5, 6]])

## Read from file

In [ ]:
# Read Data as a 2D ndarray from a file
housing_data = np.genfromtxt("sample_data/california_housing_test.csv",
              delimiter=",", #split every line at "delimeter"
              skip_header=1 #skip the first "skip_header" lines
              )

print(housing_data)

[[-1.22050e+02  3.73700e+01  2.70000e+01 ...  6.06000e+02  6.60850e+00
   3.44700e+05]
 [-1.18300e+02  3.42600e+01  4.30000e+01 ...  2.77000e+02  3.59900e+00
   1.76500e+05]
 [-1.17810e+02  3.37800e+01  2.70000e+01 ...  4.95000e+02  5.79340e+00
   2.70500e+05]
 ...
 [-1.19700e+02  3.63000e+01  1.00000e+01 ...  2.20000e+02  2.28950e+00
   6.20000e+04]
 [-1.17120e+02  3.41000e+01  4.00000e+01 ...  1.40000e+01  3.27080e+00
   1.62500e+05]
 [-1.19630e+02  3.44200e+01  4.20000e+01 ...  2.60000e+02  8.56080e+00
   5.00001e+05]]

In [ ]:
#how to check dimensions(rows,  cols), I see you ask?
housing_data.shape

(3000, 9)

In [ ]:
#create a array of given dimension from standard normal distribution
A = np.random.randn(10, 5) #array of 10 rows and 5 columns
print(A)
print()
print(A.shape)

[[-1.1390547   0.12694687  0.6414626  -0.06548827  0.53941647]
 [-0.30166362 -1.93428651  1.12490062  1.3750817  -1.83801152]
 [-0.01789082 -0.82431209  0.62155993  1.83701618 -1.61107131]
 [-0.64565741 -1.49598169 -1.09895761 -0.88114681 -1.0009263 ]
 [-0.35654913 -0.22430013  0.71605812  0.56935731  0.13839117]
 [-0.24287194 -1.40695912 -0.58795087  0.61633017  0.17483508]
 [ 0.86300751 -0.14918676  1.31417909  0.98636171 -1.35726436]
 [-0.502843   -0.60441945 -0.20571936  0.28237538  1.09149555]
 [ 0.53314116 -0.89928064  2.56702691  0.75000303  1.40781182]
 [-0.94092955  0.75815044 -1.55050068 -0.08498252  0.74744383]]

(10, 5)

`ndarray.reshape(d0, d1,...)` : change dimensions(shape) of ndarray.

Catch: make sure __d0 * d1 * ... *dn__ is equal to total number of elements in `ndarray`.

In [ ]:
p = np.arange(1, 13)
p #1D array of 12 elements

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [ ]:
#converting to 4x3 2D array
p.reshape(4, 3)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [ ]:
#or even a 3D array
p.reshape(2, 3, 2) #array of two 3x2 arrays

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]])

# Indexing Numpy Arrays

In [ ]:
#single row
A[3] #4th row

array([-0.64565741, -1.49598169, -1.09895761, -0.88114681, -1.0009263 ])

In [ ]:
#range of rows
A[3:7] #4th through 7th rows

array([[-0.64565741, -1.49598169, -1.09895761, -0.88114681, -1.0009263 ],
       [-0.35654913, -0.22430013,  0.71605812,  0.56935731,  0.13839117],
       [-0.24287194, -1.40695912, -0.58795087,  0.61633017,  0.17483508],
       [ 0.86300751, -0.14918676,  1.31417909,  0.98636171, -1.35726436]])

In [ ]:
A[6:] #7th row through last row

array([[ 0.86300751, -0.14918676,  1.31417909,  0.98636171, -1.35726436],
       [-0.502843  , -0.60441945, -0.20571936,  0.28237538,  1.09149555],
       [ 0.53314116, -0.89928064,  2.56702691,  0.75000303,  1.40781182],
       [-0.94092955,  0.75815044, -1.55050068, -0.08498252,  0.74744383]])


General Syntax for range based indexing:
```Python
ndarray[row_index, col_index]
```
- Omitting `col_index` gives all the columns of rows specified by `row_index`.
- Note: both `col_index` and `row_index` can also be a range i.e. `colon(:)` syntax as in lists.

In [ ]:
#3rd and 4th column of all rows from 7th one
A[6:, 2:4]

array([[ 1.31417909,  0.98636171],
       [-0.20571936,  0.28237538],
       [ 2.56702691,  0.75000303],
       [-1.55050068, -0.08498252]])

In [ ]:
#first two columns
A[:, :2]

array([[-1.1390547 ,  0.12694687],
       [-0.30166362, -1.93428651],
       [-0.01789082, -0.82431209],
       [-0.64565741, -1.49598169],
       [-0.35654913, -0.22430013],
       [-0.24287194, -1.40695912],
       [ 0.86300751, -0.14918676],
       [-0.502843  , -0.60441945],
       [ 0.53314116, -0.89928064],
       [-0.94092955,  0.75815044]])

In [ ]:
#extending the idea to get single element
A[3, 2] #4th row, 3rd col

-1.0989576145023803

In [ ]:
#selecting specific columns
cols = [0, 2, 4] #1st, 3rd and 5th cols
A[2:5, cols]

array([[-0.01789082,  0.62155993, -1.61107131],
       [-0.64565741, -1.09895761, -1.0009263 ],
       [-0.35654913,  0.71605812,  0.13839117]])

In [ ]:
#selecting specific rows
rows = [1, 3, 5] #2nd, 4th and 6th row
A[rows, 2:]

array([[ 1.12490062,  1.3750817 , -1.83801152],
       [-1.09895761, -0.88114681, -1.0009263 ],
       [-0.58795087,  0.61633017,  0.17483508]])

In [ ]:
#Btw sorry but this won't work as you might expect!
A[rows, cols]

array([-0.30166362, -1.09895761,  0.17483508])

- The above syntax actually gives a 1D slice of pair-wise elements.(if possible)
- eg: if rows=[1,2] , cols=[3,4] , it returns $[A_{13}, A_{24}]$ (zero-based indexing)

# Vectorization in Action

- Applying operations to multiple datapoints at once

## Example 1 : Square all the items of a list

Here's what you'll do right?

```python
sqrd_list = []
for val in my_list:
    sqrd_list.append(val**2)

#or if you are a fan of list comprehensions
sqrd_list = [val**2 for val in my_list]
```

- But what if we have millions of entries in our list. 
- Soon this `for` loop approach(s) becomes painful.

- Vectorization will help us overcome this.

- Here's how to do the same squaring operation in case of `ndarray`.

In [ ]:
B = np.arange(1,20)
print(B)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [ ]:
B**2

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144, 169,
       196, 225, 256, 289, 324, 361])

- Seems like magic, isnt't it? well It felt to me when I first saw this!
- Basically, what happened is square operation was performed on all elements at once.(well atleast, it will be veryyy less than  `len(list)` iterations as in case of `for` loop approach.
## Why vectorization work? 
- The datatypes of all elements in a ndarray should be __same__.
- if datatypes of all elements are same, it allows for __contagious__ allocation of memory implying faster access.
- And most importantly because of the __BIG BRAINS__ who wrote the code for `ndarray` object!

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#here are few more examples of vectorization
print(B-1, "\n") #substract 1 from every element
print(B+2, "\n") #add 2 to every element
print(B*3, "\n") #multiply 3 to every element
print(B/4, "\n") #divide every element by 4

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]

[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21]

[ 3  6  9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57]

[0.25 0.5  0.75 1.   1.25 1.5  1.75 2.   2.25 2.5  2.75 3.   3.25 3.5
 3.75 4.   4.25 4.5  4.75]

In short all the [numeric](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex) operations allow vectorization.

## Example 2: Add elements of two same length lists

This is how a typical 
```python
sum_list = []
for i in range(N): #N is the length of both list
    sum_list = l1[i] + l2[i]
```


- It turns out, vectorization is not just limited to simple arithmetic operations.
- Here's the vectorized implementation of above code.

In [ ]:
l1 = np.arange(1,11)
l2 = np.arange(1, 11)
print(l1 + l2)

[ 2  4  6  8 10 12 14 16 18 20]

In [ ]:
#similarly
print(l1*l2, "\n")#multiply respective elements
print(l1-l2, "\n")#subtract respective elements
print(l1/l2, "\n")#divide every element of l1 by  l2

[  1   4   9  16  25  36  49  64  81 100]

[0 0 0 0 0 0 0 0 0 0]

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

- The above idea can be extended to any dimensional arrays of __SAME__ shape.

# Basic Statistics with Numpy

## Statistics for 1D arrays

In [ ]:
C = np.linspace(20, 100, num=75)
print(C)

[ 20.          21.08108108  22.16216216  23.24324324  24.32432432
  25.40540541  26.48648649  27.56756757  28.64864865  29.72972973
  30.81081081  31.89189189  32.97297297  34.05405405  35.13513514
  36.21621622  37.2972973   38.37837838  39.45945946  40.54054054
  41.62162162  42.7027027   43.78378378  44.86486486  45.94594595
  47.02702703  48.10810811  49.18918919  50.27027027  51.35135135
  52.43243243  53.51351351  54.59459459  55.67567568  56.75675676
  57.83783784  58.91891892  60.          61.08108108  62.16216216
  63.24324324  64.32432432  65.40540541  66.48648649  67.56756757
  68.64864865  69.72972973  70.81081081  71.89189189  72.97297297
  74.05405405  75.13513514  76.21621622  77.2972973   78.37837838
  79.45945946  80.54054054  81.62162162  82.7027027   83.78378378
  84.86486486  85.94594595  87.02702703  88.10810811  89.18918919
  90.27027027  91.35135135  92.43243243  93.51351351  94.59459459
  95.67567568  96.75675676  97.83783784  98.91891892 100.        ]

- `ndarray` object has many methods that help us generate various statistics.
- Entire list can be found [here](https://numpy.org/doc/stable/reference/routines.statistics.html). 

- Here are the most common method that you should be concerned,

In [ ]:
print(C.min())  #min of all values
print(C.max())  #max of all values
print(C.mean()) #mean of all values
print(C.sum()) #sum of all values
print(C.std()) #standard deviation of all values
print(C.var()) #variance of all values

20.0
100.0
60.0
4500.0
23.404011360186693
547.7477477477478

- If you are wondering, where is `ndarray.median`, Kathan! Well there's no __method__ like that.
- But Numpy provides a __function__ `np.median()` for it :)

### Function V/s Method
- A function is standalone code segment.
- A method is a code segment pertaining to a class/object.

In [ ]:
np.median(C) #median of all values

60.0

## Statistics for 2D arrays

In [ ]:
Q = p.reshape(3, 4)
Q

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
#if simply returns a single value, by taking all the elements of array
print(Q.min())  #min of all values
print(Q.max())  #max of all values
print(Q.mean()) #mean of all values
print(Q.sum()) #sum of all values
print(Q.std()) #standard deviation
print(Q.var()) #variance
print(np.median(Q)) #median of all values

1
12
6.5
78
3.452052529534663
11.916666666666666
6.5


![image.png]()

In [ ]:
#if you want statistics along rows (i.e. for each column)
print(Q.min(axis=0))  #min of each columns
print(Q.max(axis=0))  #max of each columns
print(Q.mean(axis=0)) #mean of each columns
print(Q.sum(axis=0)) #sum of each columns
print(Q.std(axis=0)) #standard deviation of each column
print(Q.var(axis=0)) #variance of each column
print(np.median(Q, axis=0)) #median of each columns

[1 2 3 4]
[ 9 10 11 12]
[5. 6. 7. 8.]
[15 18 21 24]
[3.26598632 3.26598632 3.26598632 3.26598632]
[10.66666667 10.66666667 10.66666667 10.66666667]
[5. 6. 7. 8.]

In [ ]:
#if you want statistics along columns (i.e. for each row)
print(Q.min(axis=1))  #min of each row
print(Q.max(axis=1))  #max of each row
print(Q.mean(axis=1)) #mean of each row
print(Q.sum(axis=1)) #sum of each rows
print(Q.std(axis=1)) #standard deviation of each row
print(Q.var(axis=1)) #variance of each row
print(np.median(Q, axis=1)) #median of each row

[1 5 9]
[ 4  8 12]
[ 2.5  6.5 10.5]
[10 26 42]
[1.11803399 1.11803399 1.11803399]
[1.25 1.25 1.25]
[ 2.5  6.5 10.5]

# Boolean Indexing

## Boolean Array
- It is as the name suggests, array of boolean values.That is any value in the array will be either `True` or `False`.
- Also known as boolean vector or boolean mask.

- But why do you even care? I'll come to this in a while, but first let's see when do they come into play.

In [ ]:
#Comparison operations also support VECTORIZATION
x = np.arange(1, 11)
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
#performs "<=5" operation on all the elements
#similary <, >, >=, !=, == also work the same way
x<=5

array([ True,  True,  True,  True,  True, False, False, False, False,
       False])

### CautionðŸ§¨
You might be tempted to think that logical operators (`and`, `or`, `not`, etc...) also support vectorization.

![image.png]()

But worry not, Numpy provides `functions` to perform various logical operations using vectorizaton

In [ ]:
#the condition check "x<=6 and x>=5" is made for every elements
np.logical_and(x<=6, x>=5)

array([False, False, False, False,  True,  True, False, False, False,
       False])

In [ ]:
#similarly 
print(np.logical_or(x<6, x>7))
print(np.logical_not(x))
print(np.logical_xor(x<2, x>4))

[ True  True  True  True  True False False  True  True  True]
[False False False False False False False False False False]
[ True False False False  True  True  True  True  True  True]

Coming to the question, why do you care?

- It turns out, Boolean Arrays helps us index `ndarrays `using `[]`.

In [ ]:
x_bool = x<=5 
x_bool

array([ True,  True,  True,  True,  True, False, False, False, False,
       False])

In [ ]:
#filter all the elements less than equal to 5
x[x_bool]

array([1, 2, 3, 4, 5])

- So, what happened here, is we only got those elements in which the corresponsing value was `True` in the Boolean array. Interesting, isn't it?
- You can do all sorts of filtering as per your need by using `Boolean` array.

In [ ]:
#filter all the elements in range [5, 8]
x[np.logical_and(x>=5, x<=8)]

array([5, 6, 7, 8])

In [ ]:
#filter all the elements either less than 2 or greater than 6
x[np.logical_or(x<2, x>6)]

array([ 1,  7,  8,  9, 10])

In [ ]:
# a concrete example: find the income of oldest person
age = np.array([45, 23, 30, 65, 37])
income = np.array([150, 100,75, 89, 68 ]) #income of respective age in thousands

income[age == age.max()]

array([89])

- I think you got the point!
- Note: Boolean `lists` or `tuples` also let you index `ndarrays` using `[]` notation.

In [ ]:
bool_list = [True, False, False, True, True]
age[bool_list]

array([45, 65, 37])

## On 2D arrays 
> Requires More Attention!

- While indexing 2D arrays, we can use boolean arrays in combination with the indexing syntax we saw earlier.

- There's one catch, make sure the `dimension (row or column)` that you are trying to filter(w/boolean array) should be of same size as the `boolean` array. Example will make things more clear.

In [ ]:
row_bool= [True, False, True] #shape/size is equal to num_rows
col_bool = [False, True, True, False]#shape/size is equal to num_cols
print(Q.shape)
Q

(3, 4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
#access 1st and 3rd row of columns in range:[2, 3]
Q[row_bool, 1:3]

array([[ 2,  3],
       [10, 11]])

In [ ]:
#access 2nd and 3rd column of all rows
Q[:, col_bool]

array([[ 2,  3],
       [ 6,  7],
       [10, 11]])

so, you can filter 2D arrays depending on your need. Just remember the golden rule: 
> **shape of boolean array should be same as shape of the dimension you are trying to index**

This won't work or if it works, gives you unexpected results:

`Q[row_bool, col_bool]`

So better not use above syntax.

# Assigning/Updating Values in ndarrays

## Using Index Notation

In [ ]:
fruits = np.array(("apple", "banana", "orange", "peach"))

In [ ]:
#update single  value
fruits[0] = "guava"
print(fruits)

['guava' 'banana' 'orange' 'peach']

In [ ]:
#update a range with single value
fruits[1:3] = "kiwi"
print(fruits)

['guava' 'kiwi' 'kiwi' 'peach']

In [ ]:
print(Q)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [ ]:
#update single value
Q[1, 3] = 999
print(Q)

[[  1   2   3   4]
 [  5   6   7 999]
 [  9  10  11  12]]

In [ ]:
#update entire row
Q[2, :] = 888
print(Q)

[[  1   2   3   4]
 [  5   6   7 999]
 [888 888 888 888]]

In [ ]:
#update entire column
Q[:, 2] = 666
print(Q)

[[  1   2 666   4]
 [  5   6 666 999]
 [888 888 666 888]]

## Using Boolean Arrays

In [ ]:
#monthly earning in thousands
monthly_earnings = np.array([20, -18, 9, -25, 50, 5])
print(monthly_earnings)

[ 20 -18   9 -25  50   5]

In [ ]:
#update negative earnings by mean of all values
monthly_earnings[monthly_earnings < 0] = monthly_earnings.mean()
monthly_earnings

array([20,  6,  9,  6, 50,  5])

In [ ]:
#Assignment using 2D boolean array
print(Q)

[[  1   2 666   4]
 [  5   6 666 999]
 [888 888 666 888]]

In [ ]:
Q > 500

array([[False, False,  True, False],
       [False, False,  True,  True],
       [ True,  True,  True,  True]])

In [ ]:
#update all values in Q greater than 500 to 0
Q[Q>500] = 0
print(Q)

[[1 2 0 4]
 [5 6 0 0]
 [0 0 0 0]]

### Assigning 2D ndarray
> Needs more ATTENTION++
- I am going to discuss, the type of assignment that you'll need to do in __most__ cases as a Data Scientist.
Its a little complex but here's the syntax,


```python
#update rows specified by row_bool in 
#the columns specified by column_range 
arr2D[row_bool, column_range] = value

#Slightly complicated code
arr2D[arr2D[:, column_for_comparison] == value_for_comparison, column_range] = new_value

```
Still confused? Here's another way to read it,
- Based on a column(`colum_for_comparison`), filter rows.
- Update some columns(`specified by column_range`) of these filtered rows.

Real world example,
1. Filter rows whose `miles_per_hour` column is greater than 20,000 (since this speed is practically impossible!)
2. update `miles_per_hour`, `trip_length` and `trip_distance` of these filtered rows.

Remember: `row_bool` should be of same size as number of rows.

In [ ]:
#assign 777 to 2nd and 3rd column 
#of rows-for which 1st column value is <= 2
Q[Q[:, 0] <= 2, 1:3] = 777
print(Q)

[[  1 777 777   4]
 [  5   6   0   0]
 [  0 777 777   0]]

# Miscs (Updated frequently...)
1. [`np.isin(a, b)`](https://numpy.org/doc/stable/reference/generated/numpy.isin.html?highlight=isin#numpy.isin)

    - for-loop-equiv: [item in b for item in a] for 1D `ndarrays`